@mixin font {
    font-family: 'Press Start 2P', cursive;
}

@mixin font2 {
    font-family: 'Montserrat', serif;
}

$main: #3F71A6;
$icon: #804915;
body {
    background: url('../assets/images/tech.jpg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
}

.login {
    opacity: .8;
    border-radius: 10px;
    h2 {
        @include font;
        font-size: 1.4em;
        color: $main;
    }
}

#head-code {
    color: $main;
    @include font;
    opacity: .8;
}

#bottom-cup {
    font-size: 1em;
    @include font2;
}

.github {
    padding: 42%;
}

.navbar {
    background-color: #eee;
    opacity: .8;
    color: $main;
    .navbar-text {
        color: $main;
        font-size: 1.5em;
        padding: 1em;
        @include font;
    }
    img {
        color: $main;
    }
}

.shops {
    background-color: #eee;
    opacity: .9;
    h2 {
        @include font;
        color: $main;
    }
    figcaption {
        @include font2;
        color: $main;
    }
}

// injector
// endinjector
