@mixin font {
    font-family: 'Press Start 2P', cursive;
}

@mixin font2 {
    font-family: 'Montserrat', serif;
}

@mixin shops {
    h3 {
        @include font2;
        color: #eee;
    }
    figcaption {
        @include font2;
        color: #eee;
    }
}

@mixin title {
    @include font2;
    color: #eee;
    opacity: .9;
    background-color: #758AA8;
    z-index: 200;
    position: relative;
}

$main: #3F71A6;
$icon: #804915;
body {
    background: url('../assets/images/tech.jpg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
}
/**** login layout *****/

.login {
    opacity: .8;
    border-radius: 10px;
    h2 {
        @include font;
        font-size: 1.4em;
        color: $main;
    }
}

#head-code {
    color: $main;
    @include font;
    opacity: .8;
}

#bottom-cup {
    font-size: 1em;
    @include font2;
}

.github {
    padding: 42%;
}
/****** nav bar ******/

.navbar {
    background-color: #eee;
    opacity: .8;
    color: $main;
    border-radius: 5px;
    font-size: 1em;
}
/***** locations *****/

.shops1,
.shops2,
.shops3,
.shops4,
.shops5 {
    @include shops;
    background-color: #758AA8;
    margin: 3em;
}

#locations-title {
    @include font2;
    color: #eee;
    opacity: .9;
    background-color: #758AA8;
    z-index: 200;
    position: relative;
}

#navcode {
    @include font;
    color: $main;
}

.modal-header {
    background-color: $main;
    @include font;
}

.modal-body {
    p {
        @include font2;
    }
}

.modal-span {
    padding-left: 3.7em;
    color: $main;
}

.modal-span2 {
    color: $main;
}

#nav-fix {
    position: relative;
    z-index: 100;
}
/***** posts *****/

#posts-title {
    @include title;
}

.options {
    @include title;
    background-color: #eee;
    h3 {
        color: $main;
    }
    span {
        color: $main;
        padding: 1em;
    }
}

// injector
// endinjector
