<nav class="navbar navbar-default">

    <div class="hidden-xs hidden-sm pull-right nav-texts">
        <a href="">
            <p class="navbar-text" ui-sref="posts">Posts</p>
            <p class="navbar-text" ui-sref="profile">Profile</p>
            <p class="navbar-text" ui-sref="locations">Locations</p>
            <p class="navbar-text" ng-click="vm.logOut()">Logout <img ng-src="{{user.photo}}" height="20" width="20">
            </p>
        </a>
    </div>


    <img class="navbar-brand" src="../assets/images/co-code-logo_720.png" alt="Brand">
    <span id="navcode" class="navbar-text">Co-Code</span>


    <div id="nav-fix" class="pull-right btn-group hidden-md hidden-lg" dropdown is-open="status.isopen">
        <button type="button" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            <span class=" fa fa-bars fa-2x"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="posts">Posts</a>
            </li>
            <li><a ui-sref="locations">Locations</a>
            </li>
            <li><a ui-sref="profile">Profile</a>
            </li>
            <li class="divider"></li>
            <li><a ng-click="vm.logOut()">Logout</a>
            </li>
        </ul>
    </div>


</nav>
