<div class="modal-header">
    <h3 class="modal-title">New Posts</h3>
</div>
<div class="modal-body">
    <div>
        <span>Tech:</span>
        <select ng-model="user.tech" name="" id="">
            <option value="Front-End">Front-End</option>
            <option value="Back-End">Back-End</option>
            <option value="Mobile">Mobile</option>
            <option value="Web Design">Web Design</option>
        </select>
    </div>

    <div>
        <span>Location:</span>
        <select ng-model="user.location" id="">
            <option value="Stardust Video & Coffee">Stardust Video & Coffee</option>
            <option value="Austin's Coffee">Austin's Coffee</option>
            <option value="Drunken Monkey Coffee Bar">Drunken Monkey Coffee Bar</option>
            <option value="Downtown Credo">Downtown Credo</option>
            <option value="Vespr">Vespr</option>
        </select>
    </div>

    <div>
        <span>Reason:</span>
        <select ng-model="user.reason" name="" id="">
            <option value="Conversation">Conversation</option>
            <option value="Code">Code</option>
        </select>
    </div>

    <div>
        <span ng-model="user.timein">Check-in:</span>
        <timepicker ng-model="checkin" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

    </div>

    <div>
        <span ng-model="user.timeout">Check-out:</span>
        <timepicker ng-model="checkout" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit(userInfo)">Submit</button>

</div>
