<div ng-include="'../components/navbar.html'"></div>

<h2 id="posts-title" class="text-center jumbotron">Posts</h2>

<div class="jumbotron options">
    <h3>Search:</h3>
    <div>
        <span>Tech:</span>
        <select name="" id="">
            <option value="Front-End">Front-End</option>
            <option value="Back-End">Back-End</option>
            <option value="Mobile">Mobile</option>
            <option value="Web Design">Web Design</option>
        </select>
    </div>

    <div>
        <span>Location:</span>
        <select name="" id="">
            <option value="Stardust Video & Coffee">Stardust Video & Coffee</option>
            <option value="Austin's Coffee">Austin's Coffee</option>
            <option value="Drunken Monkey Coffee Bar">Drunken Monkey Coffee Bar</option>
            <option value="Downtown Credo">Downtown Credo</option>
            <option value="Vespr">Vespr</option>
        </select>
    </div>



    <div>
        <span>Reason:</span>
        <select name="" id="">
            <option value="Conversation">Conversation</option>
            <option value="Code">Code</option>
        </select>
    </div>









    <button type="button" class="btn btn-success">Search</button>
    <button class="btn btn-primary" ng-click="post('lg')">New Post</button>
    Posts: {{ posts | json }}


    <div class="container border-posts" ng-model="user.info" ng-repeat="post in posts">
        <p>{{user.handle}} </p>
        <p>{{info}}</p>
        <p>{{tech}}</p>
        <p>{{reason}}</p>
        <p>{{timein}}</p>
        <p>{{timeout}}</p>


    </div>
    <!--options end-->
</div>
